{{- /* §7: "Your name here?" invite card appended to the speakers list when
       params.speakers.invite is true. Links to the /speak/ CFP page. Off by
       default, so sites that do not solicit talks show nothing. */ -}}
{{- $invite := false -}}{{- with site.Params.speakers -}}{{ $invite = .invite }}{{- end -}}
{{- if $invite -}}
<div class="g-persona g-persona--primary">
  <span class="g-medallion g-medallion--lg" aria-hidden="true"><i class="fa-solid fa-microphone-lines"></i></span>
  <div>
    <div class="g-persona__name"><a href="{{ "speak/" | relLangURL }}" style="color:inherit">{{ i18n "speakerInviteTitle" }} <i class="fa-solid fa-arrow-right" aria-hidden="true"></i></a></div>
    <p class="g-persona__bio">{{ i18n "speakerInviteBody" }}</p>
  </div>
</div>
{{- end -}}
